body{
color: lightblue;

}
#mtm{
    text-align: center;
    color:black;
    padding: 50px;

}

#em{
    text-align: center;
    color:black ;
    padding: 50px;
}

#wbs{
    text-align:center;
    color:black;
    padding: 50px;
}

.tips{
    text-align: center;
    color:black;
    padding: 50px;
}
img{
position: relative;
left:180px;
}
h3{text-decoration: underline;}
h1{
    color:black;
    text-align: center;
}